<form (ngSubmit)="addUser()">
  <div class="row my-1">
    <label>Username: </label>
    <input class="" name="username" [(ngModel)]="user.username" required />
  </div>

  <div class="row my-1">
    <label>Password: </label>
    <input class="" name="password" [(ngModel)]="user.password" required />
  </div>

  <div class="row my-1">
    <label>Image URL (Optional): </label>
    <input class="" name="icon" [(ngModel)]="user.icon" />
  </div>

  <div class="row-cols-auto my-3">
    <button class="btn btn-primary" type="submit">Add User</button>
  </div>
</form>
